
.contacts__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #fff;
  padding-left: 28px;
}

.contacts__text {
  margin-bottom: 36px;
}

.contacts__title {
  margin-bottom: 40px;
}

.contacts__svg{
  display: inline-block;
  vertical-align: middle;
}

.svg{
  display: inline-block;
  vertical-align: middle;
}

.footer__img {
  float: right;
}



.contacts__social-item {
  display: inline-block;
  list-style-type: none;
}

.contacts__social-list {
  padding: 0;
  margin-top: 39px;
  margin-bottom: 50px;
}

.contacts__social-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 50px;
  height: 50px;
}

.contacts__social-item:not(:last-child) {
  margin-right: 26px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer {
  background: var(--gradient)
}

.contacts__social-svg{
  transition-duration: 1.5s;
  transition-property:color;
}


.contacts__social-svg:hover{
  color: #eadeed;;
  stroke: currentColor;
  fill: currentColor;
}
.contacts__social-svg:focus {
  color: #eadeed;
  stroke: currentColor;
  fill: currentColor;
}
.contacts__social-svg:active{
  color: #cd06ff;
  stroke: currentColor;
  fill: currentColor;
}

@media (max-width:1024px){
  .footer__img{
    width: 542px;
    height: 274px;
  }

  .contacts__link {
    padding-left: 14px;
  }

  .contacts__social-link {
    width: 40px;
    height: 40px;
  }
}

@media (max-width:768px){
  .contacts__wrapper{
    display: flex;
    flex-wrap: wrap;
  }

  .footer__img{
    width: 688px;
    height: 337px;
  }

  .contacts__wrapper{
    justify-content: center;
  }

  .contacts__adress{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__text{
    position: relative;
    width: 100%;
    text-align: center;
  }

  .svg-location{
    position: absolute;
    top: 0;
    left: 255px;
  }

  .contacts__social-list {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

@media (max-width:320px){
  .footer__img{
    width: 280px;
    height: 194px;
  }
  .contacts__social-link {
    width: 30px;
    height: 30px;
  }
  .contacts__link {
    font-size: 14px;
    padding-left: 2px;
  }
  .svg{
    width: 20px;
    height: 20px;
  }
  .svg-location{
    position: absolute;
    top: -5px;
    left: 85px;
  }

}