
.halls__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__item{
  position: relative;
  list-style-type: none;
  background-size: contain;
  width: 580px;
  height: 349px;
}


.halls__item:nth-child(1) {
  background-image: url(../img/80s.jpg);

}

.halls__item:nth-child(2) {
  background-image: url(../img/starwar.jpg);

}

.halls__item:nth-child(3) {
  background-image: url(../img/wild-west.jpg);

}

.halls__item:nth-child(4) {
  background-image: url(../img/neon.jpg);

}

.halls__title {
  margin-bottom: 60px;
}

.halls__link {
  position: absolute;
  top: 94px;
  right: 164px;
  display: inline-block;
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  max-width: 252px;
  padding-left: auto;
  padding-right: auto;
}