
.halls__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__item{
  position: relative;
  list-style-type: none;
  background-size: contain;
  width: 580px;
  height: 349px;
}


.halls__item:nth-child(1) {
  background-image: url(../img/80s.jpg);

}

.halls__item:nth-child(2) {
  background-image: url(../img/starwar.jpg);

}

.halls__item:nth-child(3) {
  background-image: url(../img/wild-west.jpg);

}

.halls__item:nth-child(4) {
  background-image: url(../img/neon.jpg);

}

.halls__title {
  margin-bottom: 40px;
}

.halls__link {
  position: absolute;
  top: 94px;
  right: 164px;
  display: inline-block;
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  max-width: 252px;
  padding-left: auto;
  padding-right: auto;
}

.hall-img{
  position: relative;
}

@media (max-width:1024px){
  .halls__item{
    width: 442px;
    height: 267px;
  }

  .halls__link {
    top: 73px;
    right: 95px;
    font-size: 50px;
    line-height: 120%;
  }
}

@media (max-width:768px){
  .halls__title {
    margin-bottom: 35px;
  }

  .halls__item{
    width: 334px;
    height: 200px;
  }

  .halls__link {
    top: 61px;
    right: 106px;
    font-size: 40px;
    line-height: 125%;
    width: 121px;
  }
}

@media (max-width:320px){
  .halls__title {
    margin-bottom: 15px;
  }

  .halls__list {
    gap: 10px;
  }

  .halls__item{
    width: 280px;
    height: 168px;
  }

  .halls__link {
    top: 50px;
    right: 101px;
    font-size: 26px;
    line-height: 131%;
    width: 80px;
  }
}