.layout-design {
  padding-top: 155px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

@media (max-width:1024px){
  .layout-design {
    padding-top: 62px;
}
}

@media (max-width:768px){
  .layout-design {
    padding-top: 70px;
  }
}

@media (max-width:320px){
  .layout-design {
    padding-top: 63px;
    font-size: 12px;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
  }

  .layout-design__text{
    width: 100%;
    text-align: center;
  }
}