.page-header__container {
  display: flex;
  column-gap: 69px;
  align-items: center;
  justify-content: space-between;
}

.page-header__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #cd06ff;
  border-radius: 10px;
  width: 280px;
  height: 55px;
  transition-duration: 1.5s;
  transition-property:border,background;
}

.page-header__button:hover{
  border: 3px solid #6c0287;
  border-radius: 10px;
  width: 280px;
  height: 55px;
  background: #6c0287;
}
.page-header__button:focus{
  border-radius: 10px;
  width: 280px;
  height: 55px;
  background: #6c0287;
}
.page-header__button:active{
  border: 1px solid #000;
  border-radius: 10px;
  width: 280px;
  height: 55px;
  background: #640aa3;
}


.page-header__list {
  display: flex;
  column-gap: 40px;
}

.page-header__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 227%;
  text-transform: uppercase;
  color: #fff;
}