.page-header__container {
  display: flex;
  column-gap: 69px;
  align-items: center;
  justify-content: space-between;
}

.page-header__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #cd06ff;
  border-radius: 10px;
  width: 280px;
  height: 55px;
}

.page-header__list {
  display: flex;
  column-gap: 40px;
}

.page-header__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 227%;
  text-transform: uppercase;
  color: #fff;
}