

fieldset {
  border: none;
}

label{
  width: max-content;
}
.reserv {
  background: var(--second-color);
}

.reserv__halls {
  display: flex;
  justify-content: space-between;
}

.reserv__fieldset:not(:last-child) {
  margin-bottom: 60px;
}

.reserv__fieldset:last-child{
  margin-bottom: 40px;
}

.reserv__date {
  font-size: 18px;
}

.reserv__text{
  font-size: 14px;
}

.reserv__title {
  margin-bottom: 50px;
}

.reserv__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.entertainment {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.entertainment__fieldset {
  display: flex;
  flex-direction: column;
}

.entertainment__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #fff;
  margin-bottom: 23px;
}

.entertainment__console:not(:last-child),
.entertainment__boar-games:not(:last-child),
.entertainment__additionally:not(:last-child) {
  margin-bottom: 20px;
}

.entertainment__console,
.entertainment__boar-games,
.entertainment__additionally{
font-weight: 400;
font-size: 22px;
color: #fff;
}

.reserv__button {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #6c0287;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  background: #fff;
  margin-left: auto;
  margin-right: 100px;
}

.reserv__button {
  transition-duration: 1.5s;
  transition-property:background,border;
}

.reserv__button:hover{
  border: 3px solid #6c0287;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  background: #eadeed;
}
.reserv__button:focus{
  border: 3px solid #6c0287;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  background: #fff;
}
.reserv__button:active{
  border-radius: 10px;
  width: 300px;
  height: 60px;
  background: #eadeed;
}

.reserv__dates {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 50px;
  justify-content: center;
}

.reserv__hall-radio {
  display: none;
}

.reserv__hall {
  border-radius: 8px;
  width: 250px;
  height: 55px;
  background: #fff;
  font-weight: 700;
  font-size: 30px;  
  line-height: 133%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 8px 15px;
  transition-duration: 1.5s;
  transition-property:background,border;
}

.reserv__hall:hover{
  border: 3px solid #640aa3;
  border-radius: 8px;
  width: 250px;
  height: 55px;
  background: #eadeed;
}

.reserv__hall:focus{
  border: 3px solid #640aa3;
  border-radius: 8px;
  width: 250px;
  height: 55px;
  background: #fff;
}
.reserv__hall:active{
  border: 3px solid #fff;
  border-radius: 8px;
  width: 250px;
  height: 55px;
  background: #6c0287;
}

.reserv__date-time{
  width: 134px;
  height: 52px;
  background: #fff;
}

.reserv__date-input {
  width: 300px;
  height: 52px;
  background: #fff;
  transition-duration: 1.5s;
  transition-property:border;
}

.reserv__date-input:focus , reserv__date-time:focus{
  border: 2px solid #cd06ff;
  width: 300px;
  height: 52px;
}

.entertainment__console-radio{
  width: 25px;
  height: 25px;
  margin-right: 12px;
  border-radius: 50%;
}

.entertainment__boar-games-radio,
.entertainment__additionally-checkbox {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  transition-duration: 1.5s;
  transition-property:border;
}



.entertainment__console-radio:focus,
entertainment__boar-games-radio:focus {
  border: 1px solid #cd06ff;
  width: 33px;
  height: 33px;
}

.reserv__wrapper{
  display: flex;
  width: 300px;
  gap:32px;
  padding-top: 1em;
}

.reserv__date-human {
  padding-top: 1em;
}


@media (max-width:1024px){
  .reserv__fieldset:last-child{
    margin-bottom: 50px;
  }

  .reserv__title {
    margin-bottom: 25px;
  }

  .reserv__subtitle {
    margin-bottom: 25px;
  }

  .reserv__button {
    font-size: 18px;
    line-height: 133%;
    border-radius: 10px;
    width: 254px;
    height: 50px;
    margin-right: 0;
  }
  
  .reserv__button:hover{
    width: 254px;
    height: 50px;
  }
  .reserv__button:focus{
    width: 254px;
    height: 50px;
  }
  .reserv__button:active{
    width: 254px;
    height: 50px;
  }

  .reserv__hall {
    border-radius: 6px;
    width: 180px;
    height: 44px;
    font-size: 20px;  
    line-height: 120%;
    padding: 10px 20px;
  }
  
  .reserv__hall:hover{
    border-radius: 6px;
    width: 180px;
    height: 44px;
  }
  
  .reserv__hall:focus{
    border-radius: 6px;
    width: 180px;
    height: 44px;
  }
  .reserv__hall:active{
    border-radius: 6px;
    width: 180px;
    height: 44px;
  }

  .reserv__date-input {
    width: 252px;
    height: 52px;
  }

  .reserv__date-input:focus , reserv__date-time:focus{
    width: 252px;
    height: 52px;
  }

  .reserv__date-human{
    width: 300px;
  }

  .reserv__dates{
    display: grid;
    grid-template-columns: 300px 252px 252px;
    gap:14px 40px;
    grid-template-areas: 
    "date name tel"
    "human surname email";
  }

  .reserv__wrapper{
    grid-area: date;
  }
  .name{
    grid-area: name;
  }
  .tel{
    grid-area: tel;
  }
  .reserv__date-human{
    grid-area: human;
  }
  .surname{
    grid-area: surname;
  }
  .email{
    grid-area: email;
  }
}

@media (max-width:768px){
  .reserv__title {
    margin-bottom: 40px;
  }

  .reserv__button {
    font-size: 22px;
    line-height: 127%;
    border-radius: 10px;
    width: 300px;
    height: 60px;
  }

  .reserv__button:hover{
    width: 300px;
    height: 60px;
  }
  .reserv__button:focus{
    width: 300px;
    height: 60px;
  }
  .reserv__button:active{
    width: 300px;
    height: 60px;
  }

  .reserv__fieldset:not(:last-child) {
    margin-bottom: 50px;
  }

  .reserv__hall {
    width: 150px;
    height: 38px;
    font-size: 16px;  
    line-height: 125%;
  }
  
  .reserv__hall:hover{
    width: 150px;
    height: 38px;
  }
  
  .reserv__hall:focus{
    width: 150px;
    height: 38px;
  }
  .reserv__hall:active{
    width: 150px;
    height: 38px;
  }

  .entertainment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 32px;
  }

  .reserv__dates{
    display: grid;
    grid-template-columns: 300px 300px;
    gap:14px 100px;
    grid-template-areas: 
    "date human"
    "name tel"
    "surname email"
  }

  .reserv__wrapper{
    width: 290px;
  }

  .reserv__date-input {
    width: 290px;
  }

  .reserv__date-input:focus , reserv__date-time:focus{
    width: 290px;
  }

  .reserv__wrapper{
    width: 290px;
    gap: 20px;
    justify-content: space-between;
  }
}

@media (max-width:320px){
  .reserv__dates{
    display: grid;
    grid-template-columns: 300px;
    gap:15px;
    grid-template-areas:
    "date"
    "human"
    "name"
    "surname"
    "tel"
    "email"
  }

  fieldset{
    padding: 0;
  }

  .reserv__subtitle {
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 15px;
  }

  .entertainment__title {
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 15px;
  }

  .reserv__button {
    font-size: 18px;
    line-height: 144%;
    border-radius: 4px;
    width: 280px;
    height: 60px;
  }

  .reserv__button:hover{
    width: 280px;
    height: 60px;
  }
  .reserv__button:focus{
    width: 280px;
    height: 60px;
  }
  .reserv__button:active{
    width: 280px;
    height: 60px;
  }

  .reserv__halls {
    display: flex;
    flex-wrap: wrap;
    gap:10px ;
  }

  .reserv__hall {
    padding: 0;
    width: 130px;
    height: 30px;
    font-size: 14px;  
    line-height: 129%;
  }

  .reserv__hall:hover{
    width: 130px;
    height: 30px;
  }
  
  .reserv__hall:focus{
    width: 130px;
    height: 30px;
  }
  .reserv__hall:active{
    width: 130px;
    height: 30px;
  }

  .reserv__fieldset:not(:last-child) {
    margin-bottom: 30px;
  }

  .entertainment__console,
.entertainment__boar-games,
.entertainment__additionally{
font-size: 16px;
}

.entertainment__fieldset{
  width: 280px;
}
}

