fieldset {
  border: none;
}

.reserv {
  background: #440f51;
}

.reserv__halls {
  display: flex;
  justify-content: space-between;
}

.reserv__fieldset:not(:last-child) {
  margin-bottom: 60px;
}

.reserv__fieldset:last-child{
  margin-bottom: 40px;
}

.reserv__date {
  font-size: 16px;
}

.reserv__title {
  margin-bottom: 50px;
}

.reserv__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.entertainment {
  display: flex;
  justify-content: space-evenly;
}

.entertainment__fieldset {
  display: flex;
  flex-direction: column;
}

.entertainment__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #fff;
  margin-bottom: 23px;
}

.entertainment__console:not(:last-child),
.entertainment__boar-games:not(:last-child),
.entertainment__additionally:not(:last-child) {
  margin-bottom: 20px;
}

.entertainment__console,
.entertainment__boar-games,
.entertainment__additionally{
font-weight: 400;
font-size: 22px;
color: #fff;
}

.reserv__button {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #6c0287;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  background: #fff;
  margin-left: auto;
  margin-right: 100px;
}

.reserv__button {
  transition-duration: 1.5s;
  transition-property:background,border;
}

.reserv__button:hover{
  border: 3px solid #6c0287;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  background: #eadeed;
}
.reserv__button:focus{
  border: 3px solid #6c0287;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  background: #fff;
}
.reserv__button:active{
  border-radius: 10px;
  width: 300px;
  height: 60px;
  background: #eadeed;
}



.reserv__dates {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 50px;
  justify-content: center;
}

.reserv__hall-radio {
  display: none;
}

.reserv__hall {
  border-radius: 8px;
  width: 250px;
  height: 55px;
  background: #fff;
  font-weight: 700;
  font-size: 30px;  
  line-height: 133%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 8px 15px;
  transition-duration: 1.5s;
  transition-property:background,border;
}

.reserv__hall:hover{
  border: 3px solid #640aa3;
  border-radius: 8px;
  width: 250px;
  height: 55px;
  background: #eadeed;
}

.reserv__hall:focus{
  border: 3px solid #640aa3;
  border-radius: 8px;
  width: 250px;
  height: 55px;
  background: #fff;
}
.reserv__hall:active{
  border: 3px solid #fff;
  border-radius: 8px;
  width: 250px;
  height: 55px;
  background: #6c0287;
}

.reserv__date-time{
  width: 134px;
  height: 52px;
  background: #fff;
  
}

.reserv__date-input {
  width: 300px;
  height: 52px;
  background: #fff;
  transition-duration: 1.5s;
  transition-property:border;
}

.reserv__date-input:focus , reserv__date-time:focus{
  border: 2px solid #cd06ff;
  width: 300px;
  height: 52px;
}

.entertainment__console-radio{
  width: 25px;
  height: 25px;
  margin-right: 12px;
  border-radius: 50%;
}

.entertainment__boar-games-radio,
.entertainment__additionally-checkbox {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  transition-duration: 1.5s;
  transition-property:border;
}



.entertainment__console-radio:focus,
entertainment__boar-games-radio:focus {
  border: 1px solid #cd06ff;
  width: 33px;
  height: 33px;
}

.reserv__wrapper{
  display: flex;
  width: 300px;
  gap:32px;
  padding-top: 1em;
}

.reserv__date-human {
  padding-top: 1em;
}