.reviews__container {
  max-width:980px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__blockquote {
  margin: 0;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__blockquote {
  display: flow-root;
}

.reviews__photo {
  display:block;
  float: left;
  margin-right: 20px;
}

.reviews__blockquote:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__quote {
  display:block;
  padding-top: 50px;
}

.reviews__img {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
}

.img-maks{
  background-image:radial-gradient( rgba(196, 196, 196,0), rgba(108, 2, 135,0.8)), url(../img/maks.svg);
}

.img-oksana{
  background-image:radial-gradient( rgba(196, 196, 196,0), rgba(108, 2, 135,0.8)), url(../img/oksana.svg);
}

.img-nikita{
  background-image:radial-gradient( rgba(196, 196, 196,0), rgba(108, 2, 135,0.8)), url(../img/nikita.svg);
}
.reviews__author {
  text-align: center;
}