.reviews__container {
  max-width:980px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__blockquote {
  margin: 0;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__blockquote {
  display: flex;
  justify-content: space-between;
}

.reviews__photo {
  display:block;
}

.reviews__blockquote:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__quote {
  display: block;
  padding-top: 50px;
  padding-left: 20px;
  width: 680px;
}

.reviews__img {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
}

.img-maks{
  background-image:radial-gradient( rgba(196, 196, 196,0), rgba(108, 2, 135,0.8)), url(../img/maks.svg);
}

.img-oksana{
  background-image:radial-gradient( rgba(196, 196, 196,0), rgba(108, 2, 135,0.8)), url(../img/oksana.svg);
}

.img-nikita{
  background-image:radial-gradient( rgba(196, 196, 196,0), rgba(108, 2, 135,0.8)), url(../img/nikita.svg);
}
.reviews__author {
  text-align: center;
}



@media (max-width:1024px){
  .reviews__container {
    max-width:751px;
  }

  .reviews__title {
    margin-bottom: 26px;
  }

  .reviews__blockquote:not(:last-child) {
    margin-bottom: 40px;
  }

  .reviews__blockquote {
    display: flex;
    justify-content: space-around;
  }

  .reviews__img {
    border-radius: 50%;
    width: 172px;
    height: 172px;
    margin-bottom: 20px;
    background-size: contain;
  }

  .reviews__quote {
    display: block;
    padding-top: 50px;
    width: 515px;
    padding-left: 0;
  }
}

@media (max-width:768px){
  .reviews__container {
    max-width:638px;
  }

  .reviews__title {
    margin-bottom: 31px;
  }

  .reviews__blockquote:not(:last-child) {
    margin-bottom: 30px;
  }

  .reviews__img {
    width: 153px;
    height: 153px;
  }

  .reviews__quote {
    width: 393px;
  }
}

@media (max-width:320px){
  .reviews__container {
    max-width:280px;
  }

  .reviews__blockquote {
    flex-wrap: wrap;
  }

  .reviews__title {
    margin-bottom: 15px;
  }

  .reviews__blockquote:not(:last-child) {
    margin-bottom: 20px;
  }

  .reviews__img {
    width: 86px;
    height: 86px;
  }

  .reviews__quote {
    padding-top: 16px;
    width: 280px;
  }
}