.vr-block__wrapper {
  position: relative;
  width: 1180px;
  height: 833px;

}

.vr-block__text{
  font-weight: 400;
  font-size: 28px;
  line-height: 179%;
  color: #fff;
  margin: 0;
  padding-left: 100px;
  margin-bottom: 30px;
}

.vr-block__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
  color: #fff;
  margin: 0;
}

.vr-block__wrapper::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/game-over.svg);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}

.vr-block__link {
  font-weight: 700;
  font-size: 26px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  padding: 25px 69px;
  border-radius: 10px;
  width: 374px;
  height: 80px;
  background: #6c0287;
  z-index: 1;
}

.vr-block__link:hover,.vr-block__link:focus{
  border-radius: 10px;
  width: 374px;
  height: 80px;
  background: #840aa3;
}

.vr-block__link:active{
  border-radius: 10px;
  width: 374px;
  height: 80px;
  background: #640aa3;
}

.vr-block__reserv {
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}

.vr-block__violet {
  display: flex;
  width: 530px;
  gap: 40px;
  align-items: end;
}

.violet-number{
  display: block;
  font-weight: 900;
  font-size: 100px;
  color: #cd06ff;
}

.violet-new {
  display: block;
  font-weight: 900;
  font-size: 75px;
  font-variant: all-small-caps;
  color: #cd06ff;
}

.violet-text {
font-weight: 400;
font-size: 30px;
text-align: center;
color: #fff;
max-width: min-content;
}

.vr-block__down {
  position: absolute;
  right: 545px;
  bottom: 150px;
  cursor: pointer;
}

.vr-block__down:hover {
  border-radius: 100%;
  fill:white;
  stroke-width: 1px;
  stroke: #6c0287;
}

.vr-block__down:active {
  border-radius: 100%;
  fill:#cd06ff;
  stroke-width: 1px;
  stroke: #fff 
}