.vr-block__wrapper {
  position: relative;
  width: 1180px;
  height: 833px;
}

.vr-block__text{
  font-weight: 400;
  font-size: 28px;
  line-height: 179%;
  color: #fff;
  margin: 0;
  padding-left: 100px;
  margin-bottom: 30px;
}

.vr-block__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
  color: #fff;
  margin: 0;
}

.vr-block__wrapper::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/game-over.svg);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}

.vr-block__link {
  font-weight: 700;
  font-size: 26px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  padding: 25px 69px;
  border-radius: 10px;
  width: 374px;
  height: 80px;
  background: #6c0287;
  z-index: 1;
  perspective: 200px;
  transition-duration: 1.5s;
  transition-property:background;
}


.vr-block__link:hover,.vr-block__link:focus{
  border-radius: 10px;
  width: 374px;
  height: 80px;
  background: #840aa3;
}

.vr-block__link:active{
  border-radius: 10px;
  width: 374px;
  height: 80px;
  background: #640aa3;
}

.vr-block__reserve {
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}

.vr-block__violet {
  display: flex;
  gap: 40px;
  align-items: end;
}

.violet-number{
  display: block;
  font-weight: 900;
  font-size: 100px;
  color: #cd06ff;
}

.violet-new {
  display: block;
  font-weight: 900;
  font-size: 75px;
  font-variant: all-small-caps;
  color: #cd06ff;
}

.violet-text {
font-weight: 400;
font-size: 30px;
text-align: center;
color: #fff;
max-width: min-content;
}

.vr-block__down {
  position: absolute;
  right: 545px;
  bottom: 150px;
  cursor: pointer;
  transition-duration: 1.5s;
  transition-property:stroke,color;
}

.vr-block__down:hover {
  border-radius: 100%;
  color:white;
  fill: currentColor;
  stroke-width: 1px;
  stroke: #6c0287;
}

.vr-block__down:active {
  border-radius: 100%;
  color: #cd06ff;
  fill:currentColor;
  stroke-width: 1px;
  stroke: #fff 
}


@media (max-width:1024px){
  .vr-block__wrapper {
    width: 904px;
    height: 583px;
  }

  .vr-block__text{
    font-size: 22px;
    line-height: 136%;
  }
  
  .vr-block__title {
    font-size: 120px;
  }

  .vr-block__wrapper::before{
    background-size: 455px 520px;
  }

  .vr-block__link {
    font-size: 22px;
    line-height: 136%;
    padding: 17px 48px;
    width: 296px;
    height: 64px;
  }

  .vr-block__link:hover,.vr-block__link:focus{
    width: 296px;
    height: 64px;
  }
  
  .vr-block__link:active{
    width: 296px;
    height: 64px;
  }

  .vr-block__reserve {
    row-gap: 80px;
  }

  .violet-number{
    font-size: 80px;
  }
  
  .violet-new {
    font-size: 60px;
  }
  
  .violet-text {
  font-size: 26px;
  }

  .vr-block__down {
    width: 67px;
    height: 67px;
    right: 400px;
    bottom: 75px;
  }
}


@media (max-width:768px){
  .vr-block__wrapper {
    width: 688px;
    height: 537px;
  }

  .vr-block__text{
    font-size: 18px;
    line-height: 133%;
  }
  
  .vr-block__title {
    font-size: 86px;
  }

  .vr-block__wrapper::before{
    background-size: 409px 481px;
  }

  .vr-block__link {
    font-size: 16px;
    line-height: 150%;
    padding: 11px 35px;
    width: 214px;
    height: 46px;
  }

  .vr-block__link:hover,.vr-block__link:focus{
    width: 214px;
    height: 46px;
  }
  
  .vr-block__link:active{
    width: 214px;
    height: 46px;
  }

  .vr-block__reserve {
    row-gap: 100px;
  }

  .violet-number{
    font-size: 50px;
  }
  
  .violet-new {
    font-size: 40px;
  }
  
  .violet-text {
  font-size: 16px;
  }

  .vr-block__down {
    display: none;
  }
}



@media (max-width:320px){
  .vr-block__wrapper {
    width: 280px;
    height: 204px;
  }

  .vr-block__text{
    font-size: 10px;
    line-height: 140%;
    padding-left: 20px;
  }
  
  .vr-block__title {
    font-size: 35px;
  }

  .vr-block__wrapper::before{
    background-size: 161px 180px;
  }

  .vr-block__link {
    font-size: 10px;
    line-height: 120%;
    padding: 8px 13px;
    width: 117px;
    height: 27px;
  }

  .vr-block__link:hover,.vr-block__link:focus{
    width: 117px;
    height: 27px;
  }
  
  .vr-block__link:active{
    width: 117px;
    height: 27px;
  }

  .vr-block__reserve {
    row-gap: 30px;
  }

  .violet-number{
    font-size: 26px;
  }
  
  .violet-new {
    font-size: 22px;
  }
  
  .violet-text {
  font-size: 10px;
  }

  .vr-block__down {
    display: none;
  }

  .vr-block__violet {
    gap: 20px;
  }
  
}